modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33093
externalPort = 4200

[[ports]]
localPort = 34171
externalPort = 3000

[[ports]]
localPort = 35995
externalPort = 6800

[[ports]]
localPort = 37075
externalPort = 3002

[[ports]]
localPort = 37143
externalPort = 3001

[[ports]]
localPort = 39083
externalPort = 3003

[[ports]]
localPort = 42103
externalPort = 5173

[[ports]]
localPort = 44099
externalPort = 6000

[[ports]]
localPort = 46465
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["python3", "server.py"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyCe585MI4eIYYqrhrIXxLAMxdlBlm6RH-o"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "fluted-helper-473819-e7.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "fluted-helper-473819-e7"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "fluted-helper-473819-e7.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "342773355367"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:342773355367:web:8ac7289ffe1ac66c6e55c2"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-24T84KR9LF"
